# Entorno virtual de Python
virtual_py/

# Dependencias de Node.js
node_modules/

# Archivos de configuración de entorno
*.env

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de log
*.log

# Archivos generados por compilación o depuración
*.pdb
*.mdb
*.so
*.dll

# Configuración de editor
.vscode/

# Configuración de Firebase o claves sensibles
firebase.json

# Archivos de sistema
.DS_Store
thumbs.db
